* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgba(186, 1, 253, 255);
    cursor: pointer;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

section {
    z-index: 900;
}

.general-header {
    width: 100%;
    height: 70px;
    z-index: 1000;
    color: rgba(186, 1, 253, 255);
    background-color: rgba(255, 255, 255, 1);
    /* padding: 0px 100px 0px 100px; */
    position: fixed;
    top: 0;
}

.general-header .header-inner {
    width: calc(100% - 200px);
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.general-header .header-inner img {
    width: 130px;
    height: 60px;
}

.general-header .header-inner nav {
    width: 50%;
}

.general-header .header-inner nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.general-header .header-inner nav ul li:hover a {
    letter-spacing: 5px;
    transition: 0.5s ease-out;
    color: rgba(134, 0, 255, 255);
    font-weight: bolder;
}

.header-sidebar {
    position: fixed;
    height: 100vh;
    z-index: 10001;
    display: none;
    backdrop-filter: blur(12px);
    transition: 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    top: 0;
    right: 0;
}

.header-sidebar .inner {
    background-color: #fff;
    width: 45%;
    position: absolute;
    display: flex;
    transition: 1s ease-in-out;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    right: 0;
}

.header-sidebar .inner .toggle-close {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 70px;
}

.header-sidebar .inner .toggle-close div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(134, 0, 255, 0.1);
}

.header-sidebar .inner .toggle-close img {
    width: 25px;
    object-fit: contain;
    background-color: transparent;
    height: 25px;
}

.header-sidebar .inner .sidebar-menu {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 40px;

}

.header-sidebar .inner .sidebar-menu p:nth-child(1) {
    font-weight: 300;
    font-size: 35px;
}

.header-sidebar .inner .sidebar-menu p:nth-child(1) span {
    font-weight: 700;
    color: rgba(134, 0, 255, 255);
    font-size: 35px;
}

.header-sidebar .inner .sidebar-menu .css-1f20h8m {
    padding: 30px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.header-sidebar .inner .sidebar-menu .css-1f20h8m p {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.header-sidebar .inner .sidebar-menu .css-1f20h8m p:hover {
    letter-spacing: 8px;
    font-weight: bolder;
    transition: 0.3s ease-in-out;
    color: rgba(134, 0, 255, 255);
}

.header-sidebar .inner .sidebar-menu .css-1f20h8m img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.hero-section {
    height: calc(100vh - 100px);
    width: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;

}

.hero-section .left {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero-section .left h2 img {
    width: 150px;
    height: 85px;
}

.hero-section .left .hero-actions .buy-btn {
    width: 170px;
    height: 55px;
    border-radius: 32px;
    background-color: rgba(134, 0, 255, 255);
    color: #fff;
}

.hero-section .left .hero-actions .buy-btn:hover {
    width: 200px;
    height: 60px;
    transition: 0.2s ease-in-out;
}

.hero-section .left .hero-actions .validate-btn {
    width: 170px;
    height: 55px;
    border-radius: 32px;
    border: 2px solid rgba(134, 0, 255, 255);
    margin-left: 20px;
}

.hero-section .left .hero-actions .validate-btn:hover {
    width: 200px;
    height: 60px;
    transition: 0.2s ease-in-out;
}

.hero-section .right {
    align-self: flex-start;
    display: flex;
    text-align: center;
    width: 50%;
    background-color: cadetblue;
    align-items: center;
    margin-top: 30px;
    height: 150px;
    background-image: url("images/info-img.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.hero-section .right .content {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 90%;
    margin: auto;
    border-top-left-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 1s ease-in-out;
    align-items: center;
    gap: 8px;
    border-bottom-left-radius: 25px;

    color: #fff;
    font-size: 35px;
}

.purchase-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    min-height: 100vh;

    align-items: center;
    padding: 40px 100px 40px 100px;
}

.purchase-section .purchase-header {
    text-align: center;
    /* padding: 40px 0px 40px 0px; */
}

.purchase-section .validate-btn {
    width: 50%;
    height: 55px;
    border-radius: 5px;
    border: 2px solid rgba(134, 0, 255, 255);
    margin-left: 20px;
}

.purchase-section .validate-btn:hover {
    width: 48%;
    height: 60px;
    transition: 0.2s ease-in-out;
}

.purchase-section .purchase-header h3 {
    font-size: 50px;
}

.gift-box {
    width: 31%;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 30px 0px 30px 0px;
}

.gift-box img {
    height: 50%;
    width: 100%;
    border-radius: 20px;

}

.gift-box .gift-box-action {
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    gap: 20px;
}

.gift-box .gift-box-action h4 {
    margin: 20px 0;
    font-size: 20px;
}

.gift-box .gift-box-action button {
    width: 100%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.9);
    height: 50px;
    border-radius: 5px;
}


.testimonial-section {
    min-height: calc(100vh - 300px);
    width: auto;
    padding: 40px 100px 40px 100px;
    color: rgba(134, 0, 255, 255);
}

.testimonial-section .testimonial-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.testimonial-section .testimonial-inner .testimonial {
    width: 50%;
    margin: auto;

}

.info-section {
    height: 100%;
    padding: 20px 100px;
    width: auto;
    background-color: rgb(250, 250, 252);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.info-section .info-banner {
    width: 50%;
}

.info-section .info-banner img {
    width: 96%;
    height: 500px;
    background-color: rgb(13, 19, 50);
    border-radius: 15px;
}

.info-section .info-alert {
    width: 50%;
    padding-left: 20px;
}

.info-section .info-alert .info-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-section .info-alert .info-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-section .info-alert .info-count h1 {
    font-size: 70px;
}

.info-section .info-alert p {
    font-weight: light;
    margin: 20px 0px;
    font-size: 20px;
    opacity: 0.8;
}

.info-section .info-alert span {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}

.info-section .info-alert h2 {
    font-size: 50px;
}

footer {
    padding: 100px;
    padding-bottom: 20px;
}

footer .footer-Logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .footer-Logo img {
    width: 100px;
    height: auto;
}

footer .column-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

footer .column-1 .child-1 {
    width: 35%;
    color: rgba(0, 0, 0, 0.7);
    line-height: 25px;
}

footer .column-1 .child-2 {
    width: 40%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-evenly;
}

footer .column-1 .child-2 nav ul {
    list-style: none;
}

footer .column-1 .child-2 nav ul li {
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.5);
}

footer .column-1 .child-3 {
    width: 25%;
}

footer .column-1 .child-1 {
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

footer .column-1 .child-1 input {
    width: 80%;
    height: 45px;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

footer .column-1 .child-1 button {
    border-radius: 40px;
    width: 200px;
    background-color: rgba(134, 0, 255, 255);
    color: #fff;
    height: 50px;
}


footer .horizontal-divider {
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px 0px 20px 0px;
    /* content: none; */
}

footer .footer-child .social-contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}

footer .footer-child .social-contacts button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

footer .footer-child .social-contacts button img {
    width: 100%;
    border-radius: 50%;
}

footer .footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px;
}

footer .footer-text div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Testimonial section */
.faq-section {
    background-color: rgba(134, 0, 255, 255);
    color: #fff;
    min-height: 90vh;
    padding: 30px 0px;
}

.faq-header {
    width: 100%;
    text-align: center;
}

.faq-heading {
    border-bottom: #777;
    padding: 10px 60px;
    font-weight: 400;
    font-size: 40px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 45%;
    margin: auto;

}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    padding: 30px 20px;
    width: 45%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body {
    margin: auto;
    /* text-align: center; */
    width: 45%;
    padding: auto;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;

}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.contact-page {
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 60px 100px;
}

.contact-page-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.contact-page .contact-page-inner :nth-child(1) {
    width: 45%;
}

.contact-page .contact-page-inner :nth-child(1) h2 {
    font-size: 55px;
    width: 100%;

}

.contact-page .contact-page-inner :nth-child(1) img {
    width: 150px;
    height: 140px;
    margin: 30px 0px;
}

.contact-page .contact-page-inner :nth-child(1) form :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.contact-page .contact-page-inner :nth-child(1) form :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.contact-page .contact-page-inner :nth-child(1) form input {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.contact-page .contact-page-inner :nth-child(1) form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.contact-page .contact-page-inner :nth-child(1) p {
    width: 100%;
    margin-top: 5px;
}

.contact-page .contact-page-inner :nth-child(1) button {
    width: 100%;
    height: 57px;
    margin-top: 20px;
    background-color: rgba(134, 0, 255, 255);
    color: #fff;
    border-radius: 60px;
}

.contact-page .contact-page-inner :nth-child(2) {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-page .contact-page-inner :nth-child(2) img {
    width: 100%;
    background-color: rgb(13, 19, 50);
    border-radius: 20px;
}

.contact-page .contact-page-inner :nth-child(2) p {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 25px;
}

.contact-page .contact-page-inner :nth-child(2) button {
    width: 100%;
    height: 57px;
    margin-top: 20px;
    background-color: rgba(134, 0, 255, 255);
    color: #fff;
    border-radius: 60px;
}

/* detail page */

.product-detail-section {
    width: auto;
    padding: 40px 100px;
    background-color: rgb(248, 248, 252);
    ;
}

.product-detail-section .inner {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-detail-section .inner :nth-child(1) {
    display: flex;
    justify-content: space-between;

}

.product-detail-section .inner .left {
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;

}

.product-detail-section .inner .right {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;

}

.product-detail-section .inner .right .purchase-btn {
    width: 100%;
    height: 57px;
    margin-top: 20px;
    background-color: rgba(134, 0, 255, 255);
    color: #fff;
    border-radius: 60px;
}

.product-detail-section .inner .left img {
    width: 90%;
    height: 400px;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 10px;
}

.product-detail-section .inner .right .card-title {
    font-size: 35px;
    font-weight: 400;

}

.product-detail-section .inner .right .detail {
    font-size: 20px;
    font-weight: 200;
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.product-detail-section .inner .right .input-wrapper input {
    height: 40px;
    width: 100%;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0px 15px;
    margin: 20px 0;
}

.product-detail-section .inner .right .detail img {
    width: 20px;
    height: 20px;
}

.product-detail-section .inner .right .available-price {
    display: flex;
    justify-self: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-detail-section .inner .right .available-price button {
    height: 45px;
    width: 25%;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(134, 0, 255, 255);
    border-radius: 30px;

}

.product-detail-section .inner .right .available-price button:hover {
    background-color: rgba(134, 0, 255, 255);
    color: #fff;
    transition: 0.4s ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 30px 0px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}

.payment-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-overlay .payment-modal {
    background-color: #fff;
    transition: 0.5s ease-in-out;
    width: 45%;
    border-radius: 10px;
    position: relative;
    max-height: 100vh;
    padding-bottom: 90px;
    overflow: scroll;

}

.payment-overlay .payment-modal .payment-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.payment-input-wrapper label {
    font-weight: 700;
}

.payment-input-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: flex-start;
}

.payment-input-wrapper input {
    height: 45px;
    width: auto;
    border-radius: 30px;
    margin-top: 20px;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.payment-overlay .payment-modal .payment-footer {
    height: 70px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}

.payment-footer p{
    font-weight: 700;
}
.payment-overlay .payment-modal .payment-header .cancel-btn {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: #fff;
}

.payment-overlay .payment-modal .payment-header .cancel-btn img {
    height: 20px;
    width: 20px;
}

.payment-overlay .payment-modal .payment-footer .proceed-btn {
    width: 200px;
    height: 45px;
    border-radius: 30px;
    background-color: #fff;
    color: rgba(134, 0, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.about-section {
    width: auto;
    height: 600px;
    padding: 40px 100px;
    margin-top: 80px;
}

.about-section .inner {
    background-image: url("images/about-bg.png");
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
}

.about-section .inner .content {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 50%;
    width: 60%;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
}

.about-section .inner .content p {
    line-height: 27px;
    font-size: 18px;
    opacity: 0.7;
}

.about-section .inner .content p:nth-child(1) {
    font-size: 50px;
    font-weight: bolder;
    opacity: 1;
}

.about-section .inner .content p:nth-child(1) span {
    font-size: 50px;
    font-weight: 200
}

.about-section .inner .about-btns {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.about-section .inner .about-btns .buy-btn {
    height: 55px;
    width: 150px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: rgba(134, 0, 255, 255);
}

.about-section .inner .about-btns .validate-btn {
    width: 200px;
    height: 55px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics-section {
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.09);
    padding: 40px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.statistics-section p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.statistics-section p span {
    font-size: 55px;
    font-weight: bolder;
}

/* Purchase coin section */
.coin-section {
    width: 100%;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.01);
}

.coin-section .container {
    width: calc(100% - 200px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin-section .container .header {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;


}

table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    padding: 20px 0;
    text-align: center;
}

.coin-section .container h3 {
    font-size: 28px;
    margin: 20px 0;
}

.coin-section .container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.coin-section .container button {
    color: #fff;
    height: 40px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(134, 0, 255, 255);
    margin: auto;
    font-weight: 700;
}

@media (max-width: 968px) {
    .general-header .header-inner nav li a {
        display: none;
    }

    .general-header .header-inner {
        width: 96%;
    }

    .hero-section {
        padding: 0;
        padding-left: 10px;
        flex-direction: column-reverse;
        /* min-height: 100%; */
        height: calc(100vh - 200px);
    }

    .hero-section .right {
        width: 100%;
    }

    .hero-section .left {
        height: calc(100vh - 300px);
        justify-content: center;
        /* padding-top: 35px; */
    }

    .hero-section .left p {
        font-size: 15px;
    }

    .info-section {
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 10px;
        height: auto;

    }

    .info-section .info-banner {
        width: 100%;
    }

    .info-section .info-banner img {
        width: 100%;
        border-radius: 15px;
        object-fit: cover;
        height: 400px;
    }

    .info-section .info-alert {
        width: 100%;
        padding: 10px;
    }

    .info-section .info-alert h2 {
        font-size: 27px;
        margin-top: 15px;

    }

    .info-section .info-alert p {
        font-size: 15px;
        line-height: 25px;
    }

    .faq-container {
        width: 90%;
        margin: auto;
    }

    .faq-body {
        width: 100%;
    }

    .faq-page {
        width: 100%;
    }

    .hr-line {
        width: 100%;
    }

    footer {
        height: 100%;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer .column-1 {
        flex-direction: column;
        height: 100%;
        gap: 30px;
    }

    footer .column-1 .child-1 {
        width: 100%;
        margin-bottom: 20px;
    }

    footer .column-1 .child-2 {
        width: calc(100% - 40px);
        margin: auto;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
    }

    footer .column-1 .child-3 {
        width: 100%;
    }

    .gift-box {
        width: 46%;
    }

    .purchase-section {
        padding: 10px;
    }

    .product-detail-section {
        width: auto;
        padding: 0;
    }

    .product-detail-section .inner div {
        flex-direction: column;
    }

    .product-detail-section .inner .left {
        margin-top: 50px;
        width: calc(100% - 20px);
        padding: 10px;
    }

    .product-detail-section .inner .right {
        margin-top: 10px;
        width: calc(100% - 20px);
        padding: 10px;
    }

    .product-detail-section .inner .left img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: top;
    }

    .product-detail-section .inner .right .available-price {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .contact-page {
        padding: 0 10px;
        width: calc(100% - 20px);
    }

    .contact-page .contact-page-inner {
        width: 90%;
    }

    .contact-page .contact-page-inner :nth-child(1) {
        width: 100%;
    }

    .contact-page .contact-page-inner :nth-child(2) {
        display: none;
    }

    .payment-overlay .payment-modal {
        width: 80%;
    }

    footer .column-2 .footer-text {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    footer .column-2 .footer-text h3 {
        font-size: 13px;
        margin-top: 15px;
    }

    .header-sidebar .inner {
        width: 60%;
    }

    .purchase-section .purchase-header h3 {
        font-size: 28px;
        margin: 20px 0;
    }

    .purchase-section .purchase-header p {
        font-size: 13px;
        width: 80%;
        margin: auto;
        text-align: justify;
    }


    .coin-section .container {
        width: calc(100% - 20px);
        padding: 10px;
    }
}

@media (max-width: 468px) {
    .gift-box {
        width: 100%;
    }

    .payment-overlay .payment-modal {
        width: 98%;
    }

    .purchase-section .purchase-header {
        font-size: 15px;
    }

    .faq-heading {
        font-size: 20px;
    }

    .header-sidebar .inner {
        width: 90%;
    }

    .general-header {
        width: 100%;
    }

    .hero-actions button {
        width: 40%;
    }

    @media (max-width: 410px) {
        .hero-section .left .hero-actions .buy-btn {
            width: 40%;
        }

        .hero-section .left .hero-actions .validate-btn {
            width: 40%;
        }

    }


}